# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Projekt/v16/.suo
.vs/Projekt/v16/Browse.VC.db
.vs/Projekt/v16/ipch/AutoPCH/d2e03be04847eac2/STARTUP.ipch
.vs/Projekt/v16/Browse.VC.db-shm
.vs/Projekt/v16/Browse.VC.db-wal
.vs/Projekt/v16/Browse.VC.opendb
.vs/Projekt/v16/ipch/AutoPCH/1009a9d81a929d1e/CENTIPEDEPART.ipch
.vs/Projekt/v16/ipch/AutoPCH/1f988de292612e7e/BULLET.ipch
.vs/Projekt/v16/ipch/AutoPCH/2ed836c44f0fbb83/POSITION.ipch
.vs/Projekt/v16/ipch/AutoPCH/64d0aef90c87a9c4/BULLETTEST.ipch
.vs/Projekt/v16/ipch/AutoPCH/9b299623fa05dc7f/SAVESTATE.ipch
.vs/Projekt/v16/ipch/AutoPCH/bd5c93655f1e01b6/STARSHIPTEST.ipch
.vs/Projekt/v16/ipch/AutoPCH/d954418975c4b9ac/BULLET.ipch
.vs/Projekt/v16/ipch/AutoPCH/d9a63d6c4046fc4d/CENTIPEDESETTINGS.ipch
.vs/Projekt/v16/ipch/AutoPCH/e8ad0ed31036ee57/POSITIONTEST.ipch
.vs/Projekt/v16/ipch/AutoPCH/f8d0fa76ddf102d2/MUSHROOMMAP.ipch
.vs/Projekt/v16/ipch/AutoPCH/aec98c24065987a1/CENTIPEDEBODYTEST.ipch
.vs/Projekt/v16/ipch/AutoPCH/4036a6bbd5b4c08/MUSHROOMMAPTEST.ipch
.vs/Projekt/v16/ipch/AutoPCH/d371abd23bc55420/STANDARDTHEME.ipch
